---
const today = new Date();
import { NAME} from '@data/config'
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2 font-bold">
    &copy; {today.getFullYear()} {NAME}
  </div>
</footer>
<style></style>
