---
import {SOCIALS} from '@data/config'
import SocialLink from '@components/SocialLink.astro';
---
<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
 {SOCIALS.map((social) => (
 <>
  <SocialLink {social} />
    </>
  ))}

</div>
