---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
import {MENU_ITEMS} from '../data/config'
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <!--<li><a class="py-3 text-base" id="home" href="/">Home</a></li>-->
    {
  MENU_ITEMS.length !== 0 && 
MENU_ITEMS.map((item) => <li><a class="py-3 text-base" id={item.id} href={item.Link}>{item.Page}</a></li>
  )}
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
